
#header {
  float:left;
  width:100%;
  display:block;
}

#logo {
  float:left;
  width: 150px;
  padding-right:50px;
  padding-bottom:50px;
}

#site_title {
  float:left;
}

#admin-warnings {
  float:left;
  width: calc(100% - 26px);
  display:block;
  background-color: lightpink;
  padding: 10px;
  border-color: red;
  border-style: solid;
  margin-bottom: 10px;
}


#footer {
  width:100%;
  text-align: center;
}

.error {
  padding:5px;
  background-color: rgba(255,0,0,0.3);
  border:2px;
  border-color: rgb(255,0,0);
  border-style: solid;
}

.invalid_reason {
  font-weight: bold;
}

.term {
    background-color:lightgray;
}

